{% extends "layout/main.html" %}

{% block scripts %}
{{super()}}
<script>
var network = '/cgi-bin/network?cmd=get';

$(document).ready(function(){
	
	$.postJSON(network, function(d){
		console.log(JSON.stringify(d));
		var network = d['network'];
		var interf = network['interface'];
		console.log(JSON.stringify(interf[0]));
		console.log(JSON.stringify(interf[1]));
	});
	
});

</script>
{% endblock %}

{% block content %} 

<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>SSL VPN Setting</h5>
			</div>
			<div class="ibox-content">
			
{% macro ssl_vpn_input(title,id,value='',type='input') -%}
				<div class="form-group row">
					<div class="col-xs-4">
						<label for="{{id}}" id="text_{{id}}">{{title}}</label> 
					</div>
					<div class="col-xs-8 form">
						<input type="{{type}}" name="{{id}}" class="form-control input-sm" id="{{id}}" ></input>
					</div>
				</div>
{% endmacro %}	
{% macro ssl_vpn_btn() -%}
				<div class="form-group row">
					<div class="col-xs-12">
						<div class="pull-right">
						<button class=" btn btn-primary">수정</button>
						</div>
					</div>
				</div>
{% endmacro %}	
				{{ ssl_vpn_input('Remote'            , 'id_f1' ) }}
				{{ ssl_vpn_input('Remote Port'       , 'id_eth'  ) }}
				{{ ssl_vpn_input('Auth-Retry'        , 'id_eth'  ) }} 
				{{ ssl_vpn_input('Connect-Retry'     , 'id_eth'  ) }}
				{{ ssl_vpn_input('Connect-Retry-Max' , 'id_eth'  ) }}
				{{ ssl_vpn_input('ID'                , 'id_eth'  ) }}
				{{ ssl_vpn_input('Password'          , 'id_eth'  ) }}
				{{ ssl_vpn_btn() }}
				</div>
			</div>
		</div>
		
</div>  
{% endblock %}

