{% extends "layout/main.html" %} 
{% 
from 
	"macro/mc_form.html" 
import 
	render_field
	, render_form_noSubmit
%} 
{% 
from 
	"client/mc_dashboard.html" 
import 
	script_header
	, left_view
	, show_table_readonly
	, modal_container
	, table_example
	, sample_side_table
	, todo_box 
%}


{% block styles %}
<style>
textarea{ 
    background-color:#F7F7F7 !important;
}
#chart_containerx {
    height:100%;
    width:100%;
    position:absolute;
}
.dataTables_paginate {
	margin: 0px;
	float: right;
}
.pagination {
	margin:0px;
	margin-bottom:5px;
	
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<!-- import HEADER -->
{{script_header()}}
<!-- import HEADER -->
<!-- MODAL -->
<script type="text/javascript">
$(document).ready(function(){
	$('#btn-show').on('click', function(){
	      var container = $('#example-container').clone();
	      container.find('table').attr('id', 'example');
	      var box = bootbox.dialog({
	        show: false,
	        message: container.html(),
	        title: "DataTables in a Bootbox",
	        buttons: {
	          ok: {
	            label: "OK",
	            className: "btn-primary",
	            callback: function() {
	              console.log('OK Button');
	            }
	          },
	          cancel: {
	            label: "Cancel",
	            className: "btn-default"
	          }
	        }
	      });
	      box.on("shown.bs.modal", function() {
	         $('#example').DataTable(); 
	      });
	      
	      box.modal('show'); 
	   });
});
</script>
<!-- MODAL -->

<script type="text/javascript">
function get_highchart_optionsx(pTitle,xCategory, yLabel, series) {
	var options = {
		'chart' : { 'type' : 'column' , 'zoomType' : 'x' }
		, 'subtitle': {'text': ''}
		, 'title': {'text': pTitle }
		, 'legend' : { }
		, 'plotOptions' : {
	       	'column' : {
	       		'pointPadding' : 0.2
	       		, borderWidth : 0
			}
		}
		, 'xAxis' : { 'type' : 'datetime'}
		, 'yAxis'  : {'title': {'text': yLabel } }			
		, 'series' : series
	};
	return options;
}

function get_highchart_options(pTitle,pSubTitle, xCategory, yLabel, series) {
	var options = {
		'chart' : { 'type' : 'spline' , 'zoomType' : 'x' }
		, 'subtitle': {'text': pSubTitle}
		, 'title': {'text': pTitle }
/* 		,     legend: {
	        layout: 'vertical',
	        verticalAlign: 'middle'
	    } */
		, 'legend' : {}
		, 'plotOptions' : {
	       	'spline' : {
	       		'dataLabels' : { 'enabled' : true }
				,
				'marker' : { 'enabled' : false }
			}
		}
/* 		, 'xAxis'  : { 
				'type' : 'datetime'
				, 'dateTimeLabelFormats' :  {
			        'hour': '%I %p',
			        'minute': '%I:%M %p'
			    }, 
			    'title' : '시간'
			}
		} */
		, 'xAxis' : { 'type' : 'datetime'}
		, 'yAxis'  : {'title': {'text': yLabel } }			
		, 'series' : series
	};
	return options;
}
</script>

<script type="text/javascript">

$(document).ready(function(){
	render_page();
	setInterval("render_page()",5000);
	$('#form_show').click(callback_form_show);
});


function render_page() {
	$.getJSON('/client/data',render_dashboard);
}

function callback_form_show(e) {
	e.preventDefault();
	var time_type = $('#time_type').val();
	var ep_day = $('#time_day').val();
	var ep_id = $('#ep_id').val();
	var param = {
		'ep_day' : ep_day
		, 'ep_id' : ep_id
		, 'time_type' : time_type
	} 
	$.getJSON('/client/chart_data',param,render_dashboard);
}

function render_dashboard(data) {
	
	var d = data['dashboard'];
	var gw = data['gateway'];
	//var table_data = data['table'];
	//var devices = d['devices'];
	//var endpoints = d['endpoints'];
	//var gateways = d['gateways'];
	
	show_chart(d,gw);
//	show_table(table_data);
//	show_detail(gateways, devices, endpoints);
}

function show_detail(gateways, devices, endpoints) {
	
/* 	console.log(gateways);
	console.log(devices);
	console.log(endpoints); */
	
	var $table = $('#device_table_view');

	$table.html('');
	var html = '';
	$.each(endpoints, function(k,v){
		var td = '<tr>';
		td += '<td>' + v['gw_name'] + '</td>';
		td += '<td>' + v['dev_name'] + '</td>';
		td += '<td>' + v['ep_name'] + '</td>';
		td += '</tr>';
		html += td;
		//console.log(v)
	});
	$table.html(html);
	
}


function fn_toUTC(ep_unix) {
	var d = new Date(parseInt(ep_unix)*1000);
	var year = d.getUTCFullYear();
	var month = d.getUTCMonth();
	var day = d.getUTCDate();
	var hour = d.getUTCHours();
	var min = d.getUTCMinutes();

	var r = Date.UTC(year, month, day, hour, min );
	var offsetInMs = ((d.getTimezoneOffset() * 60)* 1000);
	return r - offsetInMs;
}

function show_chart(cdata,gw) {
	//console.log(gw);
	var title = gw['name'];
	var subtitle = 'date - ' + gw['date'] + '(' + gw['time_type'] + ')'
	var ctime = [];
	var table_data = [];
	var series = [ ];
	for (var i = 0; i < cdata.length; i++) {
		var obj = cdata[i];
		
		_ctime = obj['chart_time'];
		_cdata = obj['chart_data'];
		_tdata = obj['table_data'];
		
		
		var endpoint = obj['endpoint'];
		table_data = table_data.concat(_tdata);
		
		//console.log("_tdata ->" + JSON.stringify(_tdata[0]));
		//console.log("endpoint ->" + JSON.stringify(endpoint));
		
		var buf = [];
		for(var j = 0 ; j < _ctime.length ; j++) {
			var tmp = [];
			tmp[0] = fn_toUTC(_ctime[j]);
			tmp[1] = _cdata[j];
			buf.push(tmp);
		}		
		
		var _cdataObj = { 'data' : buf , 'name' : endpoint['ep_name'] };
		//series.push(cdata);
		//console.log('['+i+']' + JSON.stringify(_cdataObj))
		series.push(_cdataObj);
		//console.log(i)
	}
	//var series = [ {'data':  cdata['ep_data'], 'name': '1층 온도센서#1'}, ];
	//console.log(cdata)
	//console.log(ctime)
	//console.log(series)
	var options = get_highchart_options(title,subtitle, ctime, '측정값', series);
	
	// show_chart
	var chart = Highcharts.chart('chart_container', options);
	chart.setSize(null);
	show_table(table_data);
}

function show_table(table) {
	var table_data = table;
	var ds = [];

	for (var i = 0; i < table_data.length; i++) {
		var obj = table_data[i];
		var buf = [];
		buf.push(obj['ep_id']);
		buf.push(obj['ep_day']);
		buf.push(obj['ep_time']);
		buf.push(obj['ep_sec']);
		buf.push(obj['ep_data']);
		//buf.push(obj['create_dt']);
		ds.push(buf);
	}
	
	console.log("ds-->" + ds)
	$('.dataTables-table').DataTable({
		'processing' : true 
		, 'bLengthChange' : false
		, 'bFilter' : false
		, 'bInfo' : false
		, 'destroy' : true
		, 'responsive' : true
		, 'data' : ds
		,'pagingType' : 'simple'
		, "sDom": '<"top"<"actions">lfpi<"clear">><"clear">rt<"bottom">'
		, 'columnDefs' : [ {'className' : 'text-center', 'targets' : 'all'} ]
	});	
}

</script>



{% endblock scripts %} 




{% block container %}
<!-- 
<div class="p-w-md m-t-sm">
 -->
<div >
	<div class="row ">
		<div class="col-md-1">
		&nbsp;
		</div>
		<div class="col-md-10  ">
			<!-- MAIN -->
			<div class="row">
<!-- 				<div class="col-md-12 m-b visible-xs visible-sm">
<div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Monthly</span>
                                <h5>Income</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">40 886,200</h1>
                                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
				</div> -->
				<div class="col-md-12 m-b ">
					<!-- CHART -->
					<div class="ibox-content">
<!-- 					<div class="pull-right">
					<span id="btn-show"><i class="fa fa-cog"></i></span>
					</div> -->
					<div id='chart_container' style="width:100%;height:320px;padding-top: 5px;"></div>
					</div>
					<!-- CHART -->
				</div>			
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<div class="ibox-content show_table">
							<div class="table-responsive">
								{{ show_table_readonly() }}
							</div>
						</div>
					</div>
				</div>			
			</div>
			<!-- MAIN -->
		
		</div>
	</div>
</div>


<!-- MODAL-POPUP -->
{{ modal_container() }}

{% endblock container %}

